test/xsd/chapter04ord1_1.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="number" type="xs:positiveInteger"/>
      <xs:element name="customer" type="xs:string"/>
      <xs:element name="items" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
