test/xsd/complexType_name3.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="pets">
    <xs:sequence>
      <xs:element name="dog" type="xs:string"/>
      <xs:element name="cat" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="shapes">
    <xs:sequence>
      <xs:element name="circle" type="xs:string"/>
      <xs:element name="square" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
