test/xsd/extension_all.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="pets">
    <xs:all>
      <xs:element name="dog" type="xs:string" />
      <xs:element name="cat" type="xs:string" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="morePets">
    <xs:complexContent>
      <xs:extension base="pets">
        <xs:all>
          <xs:element name="horse" type="xs:string" />
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
