test/xsd/schema5.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="one">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          Some annotation.
        </xs:documentation>
      </xs:annotation>

      <xs:all>
        <xs:element name="two" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="three" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
