test/xsd/schema_recursive2.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="node" type="recursive1" />

  <xs:complexType name="recursive1">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="node" type="recursive2" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recursive2">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="node" type="recursive1" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
