test/xsd/sequence_element8.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="pets">
    <xs:sequence>
      <xs:element name="dog" type="xs:string" minOccurs="0" maxOccurs="42" />
      <xs:element name="cat" type="xs:string" minOccurs="0" maxOccurs="11" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
